body{
    padding:0px;
    margin:0px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634") center center fixed;
    background-size:cover !important;
    width:100vw;
    height:100vh;
    max-width:100vw;
    overflow-x:hidden;
}
#header {
    width:88%;
    padding:3% 6%;
    text-align:right;
    position:absolute;
}
#header div{
    display:block;
}
#links {
    margin:20px 0px;
}
#links a{
    margin:0px;
    color:#000;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:8px 10px;
    border-bottom:2px solid transparent;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}
#links a:hover{
    border-bottom:2px solid #000;
}
#wtf {
    margin:0px 6vw !important;
}

#loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#leftThingy {
    width:50vw;
    height:100%;
    background:#fff;
    position:fixed;
    left:0;
}

#RightThingy {
    width:50vw;
    height:100%;
    background:#fff;
    position:fixed;
    right:0;
}

#text {
    width:100vw;
    height:100vh;
    text-align:center;
    position:fixed;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#spinner {
    animation: rotate 0.8s infinite linear;
    width:30px;
    height:30px;
    border:5px solid #000;
    border-bottom: 5px solid white;
    border-radius:50%;
    margin: 0px auto;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#middle {
    width:88%;
    height:100vh;
    padding:0 6%;
    border-radius:0px;
    color:#000;
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:0.4s ease-in-out;
    z-index:4;
    background:#fff;
    border-radius:0px 0px 340px 0px;
}

#tagline {
    font-size:40px;
    width:80%;
    font-family: 'Poppins', sans-serif;
}

#tagline h1 {
    background:url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634") center center;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:cover !important;
}

#portfolio {
    background:white;
    width:88%;
    padding:5% 6%;
    border-radius:0px 340px 340px 0px;
}

#portfolio div {
    font-size:20px;
}

#about, #work, #contact {
    padding:2vh 0px;
}

#work h1 span {
    margin:10px 20px;
    border-bottom:4px solid transparent;
    padding:8px 0px;
    transition:0.4s ease-in-out;
}
#work h1 span:hover {
    border-bottom:4px solid #000;
    cursor:pointer;
}
#portfolio div p{
    font-size:55px;
    background:url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634") center center;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:cover !important;
    font-family: 'Poppins', sans-serif;
}

#about table tr td {
    padding:8px 30px;
    padding-left:0px !important;
}

#web {
    columns:2;
    column-gap:3vw;
}

.project {
    width:90%;
    height:auto;
    margin:3vh 0px;
    display:inline-block;
    padding:4vh 28px;
    color:#282828;
    border-radius:8px;
    box-shadow:0px 0px 2px #d1d1d1;
    transition:0.4s ease-in-out;
    word-wrap: break-word;
}
.project button {
    background:transparent;
    padding:12px 60px;
    border-radius:50px;
    font-family: 'Comfortaa', cursive;
    color:#000;
    font-size:20px;
    font-weight:bold;
    transition:0.4s ease-in-out;
    margin:10px 10px;
    box-shadow:0px 0px 1px #d1d1d1;
    border:0px;
}
.right-arrow {
    font-size:18px;
    margin-left:2px;
}

.project button:hover{
    cursor:pointer;
    box-shadow:0px 6px 14px #0000001e;
}

.project button:focus{
    box-shadow:inset 0px 6px 10px #c7c7c7;
    outline:none;
}

.project img {
    width:100%;
    height:auto;
    border-radius:10px;
}

.project img:hover {
    cursor:pointer;
}

::-webkit-scrollbar {
    width:5px;
    height:5px;
}

::-webkit-scrollbar-track {
    background:#fff; 
}

::-webkit-scrollbar-thumb {
    background:#000; 
}

.details {
    width:100%;
    text-align:left;
}

.details a {
    font-size:20px;
    color:#282828;
    margin-right:8vw;
    margin-left:0px;
    border-radius:50%;
    transition:0.4s ease-in-out;
}

.details a:hover {
    color:#bbbbbb;
}

.design .project:hover {
    cursor: pointer;
}

#inlarge {
    width: 100%;
    height: 100vh;
    position: fixed;
    background:rgba(0, 0, 0, 0.8);
    justify-content:center;
    flex-direction:column;
    display:none;
    z-index:9999;
}

#inlarge button {
    background:transparent;
    color:#fff;
    padding:10px 10px;
    border-radius:50%;
    margin:3vh 3vw;
    border:0px;
    font-size:28px;
    position: absolute;
    transition:0.4s ease-in-out;
    top:0;
    right:0;
}

#inlarge button:hover {
    cursor: pointer;
    transform:scale(1.2);
}

#inlarge button:focus {
    outline:none;
}

#img_container {
    width:55vw;
    height:auto;
    background:#fff;
    margin:0px auto;
    border-radius:8px;
    padding:15px 18px;
}

#img_container img {
    width:100%;
    height:auto;
    border-radius:8px;
    padding:0px;
    margin:0px;
}

#design {
    columns:3;
    column-gap:4vw;
}

@media (min-width: 2000px){
    #web {
        columns:3;
    }
    #design {
        columns:3;
    }
}

@media (max-width: 980px){
    body {
        background-size:cover !important;
        background-repeat:no-repeat;
    }
    #header {
        width:94%;
        padding:10% 3%;
        position: relative;
        background:#fff;
    }
    #title {
        font-size:24px;
        font-family: 'Comfortaa', cursive;
        margin:0px;
    }
    #links {
        margin:20px 0px;
        text-align:center;
    }
    #portfolio {
        border-radius:0px;
    }
    #middle {
        width:88%;
        border-radius:0px;
        height:auto;
        border-radius:0px;
        min-height:63vh;
    }
    #tagline h1 {
        font-size:40px;
    }
    #tagline {
        width:98%;
        font-size:29px;
        text-align:center;
    }
    #wtf {
        margin:0px 4vw !important;
    }
    #about {
        text-align:left;
    }
    #about table tr td {
        padding:8px 0px !important;
        margin:10px 0px;
        margin-right:12px;
        display:inline-block;
        font-size:17px;
    }
    .details {
        text-align:center;
    }
    .details a {
        font-size:20px;
        margin:0px 3vw;
        padding:14px;
        text-align:center;
    }
    #work {
        column-count:1;
        column-gap:0%;
        text-align:left;
        width:100%;
    }
    .project {
        width:94%;
        padding:15px 3% !important;
        margin:2vh 0px !important;
        font-size:14px !important; 
    }
    #contact {
        width:100%;
        text-align:left;
    }
    #portfolio div p{
        font-size:40px;
    }
    .project button {
        font-size:14px;
        padding:10px 25px;
    }
    .right-arrow {
        font-size:12px;
    }
    #img_container  {
        width:100vw;
        padding:15px 0px !important;
    }
    #work h1 span{
        font-size:24px;
    }
    #web {
        columns:1;
    }
    #about h2 {
        font-size:22px;
    }
}
#in_mobile {
    margin:4vh 0px;
    margin-top:8vh;
}

#mailing {
    width:auto;
    height:auto;
    padding:2vh 3vw;
    padding-bottom:3.5vh;
    border-radius:5px;
    background:linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("https://images.unsplash.com/photo-1550684656-96eda9e5c632?&w=1634") center center;
    background-repeat: no-repeat;
    background-size:cover;
    position:fixed;
    bottom:0;
    right:0;
    margin:6vh 4vw;
    transition:0.4s ease-in-out;
    box-shadow:0px 6px 40px rgba(0, 0, 0, 0.2);
    color:#fff;
    display:none;
}

#mailing input {
    width:96%;
    padding:5px 8px;
    border:0px;
    border-bottom:2px solid rgba(255, 255, 255, 0.6);
    font-family: 'Poppins', sans-serif;
    margin-bottom:2vh;
    font-size:15px;
    transition:0.4s ease-in-out;
    background:transparent;
    font-weight:bold;
    color:#fff;
}

#mailing input:focus{
    border-bottom:2px solid rgba(255, 255, 255, 1);
}

#mailing button {
    width:20%;
    padding:8px 8px;
    border:0px;
    color:#282828;
    border-radius:5px;
    background:#fff;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    margin-top:1vh;
}

#mailing button:hover{
    cursor: pointer;
}

::placeholder {
    color: #fff;
}

input,button:focus {
    outline:none;
}
