@font-face {
    font-family: "Coyote";
    src: url("../font/Coyote.ttf");
}

body {
    padding: 0px;
    margin: 0px;
    background: rgb(8, 8, 12);
    max-width: 100vw;
    overflow-x: hidden;
    cursor: url('../images/cursor.png'), auto;
}

header {
    width: 90vw;
    padding: 4vh 0px;
    position: fixed;
    top: 0;
}

header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-left: 4vw;
    text-decoration: none;
    position: relative;
}

header li img {
    width: 26px;
    height: auto;
    padding: 10px 0px;
}

#video {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

#video video {
    width: 100%;
    height: auto;
}

#main {
    width: 90vw;
    padding: 0px 5vw;
    height: 100vh;
    font-family: "Coyote", sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: fixed;
    background: linear-gradient(0deg, rgba(8, 8, 12, 0.6), rgba(8, 8, 12, 0.2));
}

#main div {
    margin: 30px 0px;
    font-size: 55px;
}

#main button {
    font-family: "Coyote", sans-serif;
    font-size: 18px;
    padding: 12px 40px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    width: 10vw;
    transition: 0.4s ease-in-out;
}

#main button:hover {
    background: #fff;
    color: rgb(8, 8, 12);
    cursor: pointer;
}

#main span {
    font-size: 19px;
    color: rgb(200, 200, 200);
}

footer {
    width: 90vw;
    padding: 4vh 0px;
    position: fixed;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

footer li {
    float: right;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-left: 4vw;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

a {
    transition: 0.4s ease-in-out;
    border-bottom: 2px solid transparent;
}

a:hover {
    cursor: pointer;
    color: rgb(200, 200, 200);
    border-bottom: 2px solid #fff;
}

button:focus {
    outline: none;
}

#not_supported {
    color: #fff;
    width: 90vw;
    padding: 0px 5vw;
    height: 100vh;
    font-family: "Coyote", sans-serif;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    display: none;
}

@media (max-width: 1800px) {
    #main button {
        width: 16vw;
    }
}

@media (max-width: 950px) {

    #video,
    #main {
        display: none;
    }

    #not_supported {
        display: flex;
    }
}